annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
comm
debugpy
distro
entrypoints
et-xmlfile
exceptiongroup
executing
faiss-cpu
filelock
fqdn
fsspec
h11
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
isoduration
jedi
Jinja2
jiter
joblib
json5
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_server
MarkupSafe
matplotlib-inline
mpmath
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
opencv-python
openpyxl
outcome
packaging
pandas
parso
pillow
prometheus_client
pure-eval
pycparser
pydantic
pydantic_core
PySocks
pytesseract
python-dateutil
python-dotenv
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
regex
requests
rfc3339-validator
rfc3986-validator
safetensors
scikit-learn
scipy
selenium
Send2Trash
sentence-transformers
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
terminado
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webdriver-manager
websocket-client
wsproto
xlrd
